{% extends 'base.html' %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'home' %}">Home</a>
    </li>
    <li class="breadcrumb-item active">Profile</li>
{% endblock %}

{% block content %}
    <a href="{% url 'download_pdf' %}" class="btn btn-outline-primary mb-4" role="button">Download PDF</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Question</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="infinite-container">
            {% include 'includes/questions.html' %}
        </tbody>
    </table>

    {% if questions.has_next %}
        <a href="?page={{ questions.next_page_number }}" class="infinite-more-link" style="display: none;">More</a>
    {% endif %}

    <div class="alert alert-info loader" role="alert" style="display: none;">Loading...</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/libs/noframework.waypoints.min.js' %}"></script>
    <script src="{% static 'js/libs/infinite.min.js' %}"></script>

    <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}